@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black;
}
* {
  @apply antialiased scroll-smooth;
}

@font-face {
  font-family: 'Acorn';
  src: url('/public/Acorn.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
